<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>New Chat</title>
</head>
<body>
    <h3>Write new Chat</h3>
    <form action="/chats" method="POST">
        <input type="text" placeholder="Who are you" name="from">
        <br>
        <textarea name="msg" id="">write your msg here..</textarea>
        <br>
        <input type="text" placeholder="add reciver" name="to">
        <br>
        <button>Create Chat</button>
    </form>
</body>
</html>